{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ block.super }} - {{ title }}
{% endblock %}

{% block content %}
<div class="top">
    <div class="top_content">
        <div class="top_text">
            <h1 class="top_title">
                Найди свой лучший рецепт
            </h1>
            <p class="top_info">
                Погрузись в разнообразие вкусов, открой для себя новые
                рецепты и удиви своих близких кулинарными талантами. У нас
                каждый рецепт превращается в кулинарное искусство!
            </p>
            <div class="top_buttons">
                <a class="button" href="/myapp/recipes/">Рецепты</a>
            </div>
        </div>

        <div class="top_image">
            <img src="{% static 'myapp/images/top.png' %}" class="picture">
        </div>
    </div>
</div>


<div class="content">
    <div class="content_image">
        <img src="{% static 'myapp/images/content.png' %}"
             alt="graphic" class="picture">
    </div>
    <div class="content_content">
        <h2 class="content_title">
            Рецепт дня
        </h2>
        <h5 class="content_subtitle">
            {{ recipe_of_the_day.title}}
        </h5>
        <p class="content_text">
            {{ recipe_of_the_day.description}}
        </p>
        <div class="content_link">
            <a href="{% url 'recipe_detail' recipe_of_the_day.id %}">Подробнее...</a>
        </div>
    </div>
</div>

<div class="recipes">
    <div class="recipe">
        <h5 class="recipes_title">
            {{ minor_recipe_1.title}}
        </h5>
        <p class="recipes_text">
            {{ minor_recipe_1.description}}
        </p>
        <div class="recipes_link">
            <a href="{% url 'recipe_detail' minor_recipe_1.id %}">Подробнее...</a>
        </div>
    </div>
    <div class="recipe">
        <h5 class="recipes_title">
            {{ minor_recipe_2.title}}
        </h5>
        <p class="recipes_text">
            {{ minor_recipe_2.description}}
        </p>
        <div class="recipes_link">
            <a href="{% url 'recipe_detail' minor_recipe_2.id %}">Подробнее...</a>
        </div>
    </div>
    <div class="recipe">
        <h5 class="recipes_title">
            {{ minor_recipe_3.title}}
        </h5>
        <p class="recipes_text">
            {{ minor_recipe_3.description}}
        </p>
        <div class="recipes_link">
            <a href="{% url 'recipe_detail' minor_recipe_3.id %}">Подробнее...</a>
        </div>
    </div>
</div>
{% endblock %}