{% load static %}
{% load custom_tags %}

<div class="top">
    <header>
        <div class="logo_group">
            <img src="{% static 'myapp/images/logo_main.png' %}"
                 alt="main_logo" class="logo_image">
        </div>
        <div class="header_menu">
            <a class="header_link{% if request.path == '/' %}_selection{% endif %}"
               href="/">Главная</a>
            <a class="header_link{% if request.path|contains:'/add/' %}_selection{% endif %}"
               href="/add/">Добавить рецепт</a>
            <a class="header_link{% if request.path|contains:'/recipes/' %}_selection{% endif %}"
               href="/recipes/">Все рецепты</a>
            <a class="header_link{% if request.path|contains:'/myrecipes/' %}_selection{% endif %}"
               href="/myrecipes/">Мои рецепты</a>
            {% if user.is_authenticated %}
                <a class="button" href="/logout/">Выйти</a>
            {% else %}
                <a class="button_log" href="/login/">Войти</a>
                <a class="button" href="/signup/">Зарегистрироваться</a>
            {% endif %}
        </div>
    </header>
</div>

